.titulo {
  text-align: center;
  font-size: 28px;
  color: #080808;
  margin-bottom: 20px;
}

.platos-table {
  width: 70%;
  border-collapse: collapse;
  margin: 0 auto;
}

.platos-table th,
.platos-table td {
  padding: 8px;
  text-align: center;
  border-bottom: 3px solid #ddd;
}

.platos-table tr {
  display: contents;
}

.platos-table th {
  background-color: #4E148C;
  color: white;
}

.buttonPlatos {
  background-color: #613DC1;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonPlatos:hover {
  background-color: #2b1c55;
  color: white;
}

@media screen and (max-width: 500px) {

  .titulo {
    font-size: 16px;
  }

  .platos-table {
    width: 90%;
  }

  .platos-table th,
  .platos-table td {
    padding: 5px;
    font-size: 8px;
  }

  .buttonPlatos {
    padding: 5px 10px;
    font-size: 8px;
  }

  .button-edit {
    font-size: 10px;
  }

  .button-delete {
    font-size: 10px;
  }

}