.titulo {
  text-align: center;
  font-size: 32px;
  color: #080808;
  margin-bottom: 20px;
}

.platos-table {
  width: 70%;
  border-collapse: collapse;
  margin: 0 auto;
}

.platos-table th,
.platos-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.buttonPlatos {
  background-color: #4775d8;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonPlatos:hover {
  background-color: white;
  color: black;
  border: 2px solid #36aec4;
}

.platos-table th {
  background-color: #273fca;
  color: white;
}

.edit-button,
.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-edit {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-delete {
  background-color: #a51010;
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-edit:hover {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button-delete:hover {
  background-color: white;
  color: black;
  border: 2px solid #a51010;
}