.titulo {
  text-align: center;
  font-size: 28px;
  color: #080808;
  margin-bottom: 20px;
}

.opiniones-table {
  width: 70%;
  border-collapse: collapse;
  margin: 0 auto;
}

.opiniones-table th,
.opiniones-table td {
  padding: 8px;
  text-align: center;
  border-bottom: 3px solid #ddd;
}

.opiniones-table th {
  background-color: #273fca;
  color: white;
}

.opiniones-table td {
  background-color: white;
  color: black;
}

@media screen and (min-width: 501px) {
  .top-header, .user-section, .bottom-header {
      justify-content: flex-end;
  }
}

/* Media Queries */
@media screen and (max-width: 500px) {

  .titulo {
      font-size: 16px;
  }

  .opiniones-table {
      width: 90%;
  }

  .opiniones-table th,
  .opiniones-table td {
      padding: 5px;
      font-size: 8px;
  }

}