header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

header .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

nav ul {
    font-weight: bold;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #3d19a1;
}

.user-section {
    display: flex;
    align-items: center;
}

.user-section a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

.icon {
    margin-right: 8px;
    font-size: 32px;
}

.header-button {
    background-color: #007BFF;
    color: white;
    text-align: end;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
    border: none;
}

.header-button:hover {
    color: #3d19a1;
    border: none;
}

h1 img {
    height: 50px;
    margin-right: 16px;
}
