.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2em;
    width: 40%;
    border-radius: 8px;
  }
  
  .textarea {
    resize: none;
    width: 100%;
  }
  
  .star-rating {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 15px; /* añade un margen en la parte inferior */
  }
  
  .star {
    font-size: 24px;
    cursor: pointer;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  